includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	paths:
		- app
	autoload_directories:
		- vendor
	excludes_analyse:
		- vendor/*
