includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	paths:
		- app
		- www
	excludes_analyse:
		- vendor/*
		- temp/*
	autoload_directories:
		- app
