includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	paths:
		- app
		- www
	autoload_directories:
		- app
		- www
		- vendor
		- temp
	excludes_analyse:
		- vendor/*
		- temp/*

